$themeColor: #faf5f3;
// $themeColor: #f2f2f2;
$borderColor: #e0e0e0;
$themeColorSuperSuperLight: #fffdfc;
.ant-card {
  //color.tsに設定してあるSuperLightより明るい色です
  background-color: $themeColorSuperSuperLight;
  //   background-color: #fff;
  border: 1px solid $borderColor;
}
