$themeColor: #faf5f3;
// $themeColor: #f2f2f2;
$borderColor: #e0e0e0;
$focusColor: #000000;
.ant-card {
  background-color: $themeColor;
  border: 1px solid $borderColor;
  .detail-button {
    background-color: $themeColor;
  }
}
